
* {
  font-family: "Roboto";
  margin: 0;
  box-sizing: border-box;
  padding: 0;
  
  
}
#body, html {
  margin: 0;
  height: 100%;
}

body {
  background: url(./components/images/backgroundbudget.jpg);
  background-size: cover;
}

